<div class="todoInputWrapper">
  <mat-form-field class="formHolder">
    <mat-label>Todo content</mat-label>
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      matInput id="input" type="text" [(ngModel)]="todoText"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    class="addButton"
    id="addTodo"
    [disabled]="todoText.length == 0"
    (click)="addTodo()"
  >
    Add todo
  </button>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="todos">
    <app-todo [@fadeAnimation]="'in'" *ngFor="let todo of todos" [todo]="todo" cdkDrag [cdkDragData]="todo">{{todo}}></app-todo>
  </div>
</div>
