.todoInputWrapper {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  margin-left: 5px;
  margin-bottom: 10px;
}

.formField {
  display: flex;
  flex-direction: column;
  position: relative;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formHolder {
  width: 50%;
}



