  <div class="todo" [ngClass]="{ completed: todo.completed }" id="{{ todo.id }}">
    <div class="header">
      Created at: {{ todo.createdAt.toLocaleString() }}
    </div>
    <div class="divider"></div>

    <p>{{ todo.text }}</p>

    <div class="actions">

      <button
        mat-raised-button
        color="primary"
        class="btn"
        routerLink="/todos/edit/{{todo.id}}"

      >
        Edit
      </button>

      <button
        mat-raised-button
        color="accent"
        class="btn"
        *ngIf="!todo.completed"
        (click)="onComplete()"
      >
        Complete
      </button>

      <button
        mat-raised-button
        color="base"
        *ngIf="todo.completed" (click)="cancel()">
        Cancel
      </button>

    </div>
  </div>
